@import "tailwindcss";
@import "tw-animate-css";
@import "@linkcode/ui/styles.css";

* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@layer base {
  :root {
    color-scheme: light;
  }

  :root:is(.dark) {
    color-scheme: dark;
  }
}
